{% extends "base.html" %}
{% block content %}
    <div class="col-md-12">
        <div class="row">
            <h1>Enter an URL to get information about the page</h1>
        </div>
        <form action="" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-2"><label for="id_url">URL: </label></div>
                <div class="col-md-5">
                    {{ form.url }}
                </div>
            </div>

            <div class="row">
                <div  class="col-md-5">
                    {% if form.url.errors %}
                    <ul>
                        {% for error in form.url.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {%endif%}
                </div>
            </div>

            <!-- buttons -->
            <div class="row">
                <button class="btn btn-default" type="submit">Get information</button>
            </div>
        </form>

        <!-- page details -->

        {% if page_details %}
        <h2>Page details</h2>
        <div class="row">
            <div class="col-md-2">Title:</div>
            <div class="col-md-10">{{ page_details.page_title }}</div>
        </div>
        <!-- meta tags -->
        <div class="row">
            <div class="col-md-2">Meta tags:</div>
            <div class="col-md-10">
                {% if page_details.meta_tags %}
                <ul>
                    {% for k,v in meta_tags.items %}
                    <li>{{ k }}: {{ v }} </li>
                    {% endfor %}
                </ul>
                {%endif%}
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">Word Count:</div>
            <div class="col-md-10">{{ page_details.word_count }}</div>
        </div>

        <div class="row">
            <div class="col-md-2">Unique words:</div>
            <div class="col-md-10">{{ page_details.unique_words }}</div>
        </div>

        <div class="row">
            <div class="col-md-2">Non unique words:</div>
            <div class="col-md-10">{{ page_details.non_unique_words }}</div>
        </div>

        <div class="row">
            <div class="col-md-2">Most common words:</div>
            <div class="col-md-10">
                {% if page_details.common_words %}
                <ul>
                    {% for word in common_words %}
                    <li>{{ word }}</li>
                    {% endfor %}
                </ul>
                {%endif%}
            </div>
        </div>

        {% endif %}

    </div>
{% endblock%}
